[Desktop Entry]
Encoding=UTF-8
Name=Mumble
Exec=mumble
Icon=${SNAP}/meta/gui/mumble.png
Type=Application
Categories=AudioVideo;
StartupWMClass=Mumble
